.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  max-width: 1060px;
  padding-top: 14px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .header__container {
    width: 96.36%;
  }
}
