.root {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.2;
}

.root::-webkit-scrollbar {
  width: 8px;
}

.root::-webkit-scrollbar-track {
  background: var(--colorBlackBg);
}

.root::-webkit-scrollbar-thumb {
  background: var(--colorOrange);
  border-radius: 5px;
}
