.dropdown {
  align-self: flex-end;
  color: var(--colorOrange);
  font: 14px 'OpensansBold', Arial, sans-serif;
  text-decoration: underline;
  transition: .3s ease-out;
}

.dropdown:hover {
  color: #b9b9b9;
}

.dropdown:hover .dropdown__container  {
  opacity: 1;
  z-index: 5;
 }
