.services__image-title {
  color: var(--colorWhite);
  display: block;
  font: 24px 'OpensansBold', Arial, sans-serif;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  white-space: nowrap;
}
